on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test_build_and_release:
    permissions:
      contents: write
      issues: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          registry-url: https://registry.npmjs.org/
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun run test
      - run: bun run build
      # publish if main
      - run: bunx semantic-release
        if: github.ref == 'refs/heads/main'
